registry=http://localhost:8081/repository/npm-group/
//localhost:8081/repository/npm-hosted/:_auth=YWRtaW46YWRtaW4xMjM=
//localhost:8081/repository/npm-group/:_auth=YWRtaW46YWRtaW4xMjM=
always-auth=true
